body{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#conteneur{
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: cente;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(15, 53, 53);;
}
.titre, .connex, form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form{
    flex-direction: column;
}
.champ{
    width: 60%;
    margin-top: 5px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.titre h1{
    color: rgb(17, 104, 104);
}

.btn{
    width: 30%;
    margin-top: 5px;
    height: 25px;
    color: whitesmoke;
    background: rgb(219, 79, 28);
    border: none;
}

.btn:hover{
    color: rgb(15, 53, 53);
    background-color: lightgrey;
    cursor: pointer;
    font-weight: bolder;
}