body{
    margin-top: 10px;
    width: 60%;
    margin: auto;
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: aquamarine;
    font-size: 1.2em;
}
thead td, tbody td{
    color: aqua;
    font-size: 0.8em;
}
tbody td{
    color: darkgrey;
    font-size: 0.8em;
}